@charset "UTF-8"
* {
	margin: 0;
	padding: 0;
}
body, html {
	width: auto;
	height: auto;
	color: #333;
	background: lightgrey;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
	margin: 0;
}

header{
	width:98%;
	background-color: black;
	border-bottom: 2px solid silver;
	padding: 1%;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
hr {
	display: block;
	border: 0px;
	width: 1px;
	border-top: 1px solid black;
	padding: 0;

}

footer {
	position: absolute;
	bottom:20px;
	margin-top: 20px;
	width: 98%;
	background-color: black;
	border-top: 2px solid silver;
	padding: 1%;
	min-height: 20px;
	float: left;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: grey;
}
img {
	max-width: 100%;
	width: auto\9;
}
.sn{
	float: right;
	margin-left: 20px;
}
#snt {
	float: right;
	color: white;
	font-family: Comic Sans MS, sans-serif;
}
/* Selection Block */
::selection {
	background:black;
	color: #fff;
}
::-moz-selection {
	background:black;
	color: #fff;
}

#logo {
	position: relative;
	top: 20px;
	font-size: 4em;
	font-family: Comic Sans MS, sans-serif;
	color: white;
}
.contact {
	font-size: 1.5em;
	font-family: Comic Sans MS, sans-serif;
	margin-left: 100px;
	margin-right: 20px;
}
.right {
	color: white;
	float: right;
}
.left{
	float: left;
	color: white;
}

.field:focus {
 	border: 2px solid white;	
 }
 #menu {
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.7em;
}
#menu hr {
	width: 500px;
	max-width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}
#menuHrefs a {
	font-family: Comic Sans MS, sans-serif;
	padding: 5px;
	color: black;
}
#menuHrefs a:hover{
	background-color: white;
	border-radius: 5px ;
}
 #mainblock {
	float: left;
	width: 100%;
}
#mainblock #article {
	float: left;
	width: 80%;
	margin-left: 10%;
	border-radius: 5px;
}
#mainblock #article article {
	float: left;
	width: 30%;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: white;
	margin-right: 2%;
	min-height: 500px;
	margin-top: 20px;
}
h1 {
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.2em;
	color: black;
}
input.field{
	border-radius: 2px;
	border: 2 px solid silver;
	padding: 5px;
	margin-left: 20px;	
	outline:none;
}

